main {
    margin: 0 100px;
}

.media-card {
    padding: 1rem;
    margin: 10px 0;
}

.media-card__image {
    height: 270px;
    width: 100%;
    object-fit: cover;
}

.media-card__title a {
  text-decoration: none;
  color: var(--bs-black);
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.intro {
  padding: 20px;
}

.alert .icon {
  border-radius: 50%;
}

.activities {
  margin-bottom: 10px;
}