#park-footer {
  background-image: url('../images/topo_pattern.png');
  padding: 30px; 
}

.footer-info h3 {
  font-family: 'Times New Roman', Times, serif;
  margin-top: 10px;
}

.footer-content h4, .footer-address h4 {
  margin-bottom: 10px;
  margin-top: 10px;
}

.contact-info {
  margin-top: 10px;
  margin-bottom: 0px;
}

.po-box {
  margin-bottom: 10px;
}