.global-nav__section-heading {
  padding-left: 10px;
  color: var(--bs-chathams-blue-3);
}

.global-nav__list, .global-nav__submenu {
  list-style-type: none;
  padding-left: 0px;
}

.global-nav__submenu {
  display: none;
}

.global-nav__submenu.show {
  display: block; 
}

.global-nav__submenu > li{
  padding: 15px 5px;
}

.global-nav__submenu > li:hover {
  background-color: var(--bs-gray-900);
}

.global-nav__submenu a {
  text-decoration: none;
  color: white;
}

.global-nav__split-button {
  background-color: var(--bs-gray-800);
  padding-left: 10px;
}

.global-nav__split-button button {
  background-color: black;
  border-style: none;
}

.global-nav__split-button a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.global-nav__split-button__toggle svg {
  height: 15px;
  background-color: var(--bs-gray-800);
}

.global-nav {
  width: 100%;
  grid-column: 1/3;
  border-top: 1px solid #333;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: black;
  color: white;
}

.global-nav button {
  background-color: transparent;
  border: 0;
  padding: 1rem;
  cursor: pointer;
}

.global-nav svg {
  --icon-color: white;
}

.global-nav__toggle {
  background-color: black;
}

.global-nav__toggle:hover {
  cursor: pointer;
}

.global-nav__toggle--closed {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.global-nav__toggle--open {
  display: none;
  align-items: center;
  gap: 0.5rem;
}

.global-nav__toggle--open > svg, .global-nav__toggle--closed > svg {
  height: 50px;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--closed {
  display: none;
}

.global-nav__toggle[aria-expanded="true"] .global-nav__toggle--open {
  display: flex;
}

.global-nav.show {
  max-height: 1000px;
}

.top-global-header {
  display: flex;
  background-color: black;
  color: white;
}

.site-title {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  padding-left: 20px;
}

.header-text {
  color: white;
}

.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

.icon {
  height: 40px;
  width: 40px;
}

.icon.rotate {
  transform: rotate(180deg);
}

.global-header__right {
  margin-left: auto;
  padding-right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-icon {
  display: flex;
}

.menu-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: 100px;
  height: 40px;
  background-color: black;
  border-left: #333 1px solid;
  padding-left: 5px;
}

.menu-text {
  margin: 0;
}

.header-text {
  font-weight: 700;
}

#global-nav-toggle {
  padding: 0px;
  border: 0px;
  color: white;
}

.hero-content {
  position: absolute;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.hero-banner {
  position: relative;
  height: 40vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.hero-banner img {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: 100%;
  height: 310px;
  object-fit: cover;
}

.hero-banner-text, .hero-banner-text:link, .hero-banner-text:visited {
  color: white;
  text-decoration: none;
}

.hero-banner-text {
  text-decoration: none;
  padding-right: 20px;
  font-size: 2rem;
}

.hero-banner-subtext {
  display: flex;
  flex-direction: column;
}

#park-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 0;
  background-color: black;
}

#park-header a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: white;
  width: 70px;
  margin: 0 10px;
  font-size: 14px;
}

#park-header a span {
  margin-top: 0.25rem;
  font-size: 14px;
}

#park-header svg.icon {
  width: 32px;
  height: 32px;
}

@media screen and (min-width: 650px) {
  .global-nav__section-heading {
    display: none;
  }

  .global-nav__list:first-of-type 
  li:first-child 
  .global-nav__split-button {
    display: none;
  }

  .global-nav__split-button {
    background-color: black;
    padding: 0;
  }

  .global-nav__split-button__toggle svg {
    display: none;
  }

  .global-nav__submenu {
    display: block;
  }

  .global-nav__list {
    margin-left: 200px;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .global-nav__submenu > li {
    padding-left: 0;
  }
}