/* badUx.css */
body {
  font-family: Arial, sans-serif;
  background-color: rgb(37, 37, 37);
  width: 1000px;
  color: #aaa;
  margin: 0 auto;
}

h1 {
  text-align: center;
  font-size: 30px;
  border-bottom: black 5px solid;
}

p {
    font-size: 18px;
    max-width: 500px;
    margin: 0;
}

img {
  width: 40%;
  height: auto;
  margin-left: 20px;
}

.flex-area {
    display: flex;
    padding: 0 140px;
}

.long-list {
    display: flex;
    flex-direction: column;
}

form {
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
}

button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: gray;
    color: white;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    margin: 5px 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}

@media screen and (max-width: 900px) {
    body {
        width: 100%;
        padding: 0 10px;
    }

    h1 {
        font-size: 24px;
        border-bottom: black 3px solid;
    }

    .flex-area {
        flex-direction: column;
        padding: 0;
    }

    img {
        width: 100%;
        margin: 10px 0;
    }
    
}